*{
    margin: 0;
    padding: 0;
   
}
h2{
    color: rgb(43, 43, 43);
}
html, body{
     height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(228, 228, 228);
}
.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.nav{
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 10px 30px;
    box-sizing: border-box;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.nav span{
    color: rgb(228, 228, 228);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    margin-left: 10px;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-size: 1.2rem;
    font-weight: 500;
   
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
 
}
.container .item:nth-child(2n){
    flex-direction: row-reverse;
}
.container .item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(233, 231, 231);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    height: 350px;
}
.container .item .imagen{
   height: 100%;
   width: 500px;
}
.container .item .imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container .item .description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 30px;
    box-sizing: border-box;
    width: calc(100% - 500px);

}
@media (max-width: 1050px){
    .container .item{
        flex-direction: column;
        height: auto;
    }
    
    .container .item .imagen{
        height: 100%;
        width: 100%;
     }
     .container .item .description{
        width: 100%;
     }
}